@model TheBettingSite.Bruger

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>createUser</title>
</head>
<body>
    <div> 
        @using (@Html.BeginForm())
        {
        <table>
            <tr>
                <td>@Html.Label("name")</td>
                <td>@Html.TextBox("name")</td>
                <td><div id="Error" style="color:red">@Html.ValidationMessage("NameError")</div></td>
            </tr>
            <tr>
                <td>@Html.Label("pass")</td>
                <td>@Html.Password("pass")</td>
                <td><div id="Error" style="color:red">@Html.ValidationMessage("PassError")</div></td>
            </tr>
        </table> 
        <input type="submit" value="Create User" />
        }
    </div>
</body>
</html>
